body {
    background-color: black;
    height: 99dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    width: 90%;
    list-style: none;
    display: flex;
}

ul li {
    flex: 1;
    display: flex;
    transition: 1s;
}

ul li img {
    width: 100%;
    height: 100dvh;
    object-fit: fill;
}

ul:hover {
    opacity: 0.8;
}

ul li:hover {
    flex: 5;
    opacity: 0.6;
}